@{
    ViewBag.Title = "Home";

}

<div class="container">
   
    @Html.ActionLink("Create", "Create", "Pencil", null, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Update", "Update", "Pencil", null, new { @class = "btn btn-primary btn-large" })
    <hr />
</div> <!-- /container -->
<div>
    <div class="home-category-links">
        <div class="container">
            <h2>Newest Pencil Products</h2>
            <!-- Example row of columns -->
            <div class="row" data-bind="foreach: Pencils">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                    <h2><a data-bind="attr: { href: url, title: Price }"> <span data-bind="text:'$' + Price"></span></a></h2>
                    <h2><a data-bind="attr: { href: url, title: Title }"> <span data-bind="text: Title"></span></a></h2>
                    <p><a data-bind="attr: { href: url, title: Title }"><img data-bind="attr: { src: ImagePath }" /></a></p>
                </div>

             
            </div>
        </div> <!-- /container -->
    </div><!--/home-category-links -->

</div>


@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/IndexVM.js")
}

<div class="home-about-us">
    <div class="container">
        <!-- Example row of columns -->
    </div> <!-- /container -->
    <div class="scallop-bottom"></div>
</div><!--/home-about-us -->
<div class="home-instagram-reel">
    <div class="container">
        <div class="text-center">
            <a href="#"><img src="images/instagram.jpg" /></a>
            <h2 class="pink-heading">Show us your best treats!</h2> <p>Tag your photos on instagram with <span class="seafoam-green">#JimsPencils</span> for a chance to win a new <span class="seafoam-green">pancil!</span></p>
        </div>
        <div class="row instagram-reel">
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-2">
                <p></p>
            </div>
            <div class="col-md-2">
                <p></p>
            </div>
        </div>
    </div> <!-- /container -->
</div><!--/home-instagram-reel -->
<!-- Modal -->
